<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CCC_Username" value="iCargoTest3@aagqa.net"/>
		<add key="CCC_Password" value="*TV%My14ytgT96$"/>
		<add key="CGODG_Username" value="iCargoTest2@aagqa.net"/>
		<add key="CGODG_Password" value="@45Qhnfx6P1A$L#"/>
	</appSettings>
</configuration>